---
import Layout from '../../layouts/Layout.astro';
import Person from '../../components/AboutPage/Person.astro';
import placeholder from '../../images/team/placeholder.jpg';

const persons = [
  { firstname: 'Tomáš', surname: 'Pelikán', img: placeholder },
  { firstname: 'Matyáš', surname: 'Petr', img: placeholder },
  { firstname: 'Tonda', surname: 'Kučera', img: placeholder },
  { firstname: 'Oskar', surname: 'Pihrt', img: placeholder },
];

function shuffle<T>(array: T[]): T[] {
  const shuffled = [...array];
  for (let i = shuffled.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [shuffled[i], shuffled[j]] = [shuffled[j], shuffled[i]];
  }
  return shuffled;
}

const randomizedPersons = shuffle(persons);
---

<Layout>
  <section class="col-span-12 grid-cols-subgrid py-24 border-b">
    <h1
      class="font-semibold text-5xl leading-13 text-primary-700 text-center col-span-12 pb-24 border-b"
    >
      Náš tým
    </h1>
    {
      randomizedPersons.map((person) => (
        <Person
          firstname={person.firstname}
          surname={person.surname}
          img={person.img}
        />
      ))
    }
  </section>
</Layout>
