---
import { ArrowRight } from '@lucide/astro';
---

<section
  class="col-span-12 flex justify-center items-center flex-col py-24 bg-secondary-800"
>
  <h2 class="text-5xl font-bold text-tertiary-50 max-w-xl text-center mb-12">
    Připraveni na skvělý kód za rozumnou cenu? <br /><span class="font-light"
      >My&nbsp;ano.</span
    >
  </h2>
  <p class="text-xl text-tertiary-200 max-w-xl text-center mb-16">
    Získejte nezávaznou cenovou nabídku do 24 hodin.
  </p>
  <a
    href="/contact"
    class="group py-4 px-6 bg-primary-50 text-tertiary-900 custom-button text-center hover:italic font-bold font-mono text-lg flex flex-nowrap"
    >Získat nabídku <ArrowRight
      class="ml-2 w-6 h-6 stroke-[2.5] group-hover:-rotate-45 transition-all duration-150 ease-in-out delat-75"
    /></a
  >
</section>

<style>
  .custom-button {
    box-shadow: 6px 6px 0px 0px var(--color-secondary-600);
    transition: all 150ms ease-in-out;
  }
  .custom-button:hover {
    box-shadow: 12px 12px 0px 0px var(--color-secondary-600);
    transform: translate(-6px, -6px);
  }

  .custom-button:active {
    box-shadow: 4px 4px 0px 0px var(--color-secondary-600);
    transform: translate(2px, 2px);
  }
</style>
