---
import ServiceCard from './ServiceCard.astro';
import { CodeXml, AppWindowMac } from '@lucide/astro';
---

<section class="col-span-10 col-start-2 grid grid-cols-10 py-12 gap-8">
  <h2 class="col-span-10 text-center font-semibold text-3xl text-primary-700">
    Co vám nabídneme
  </h2>
  <ServiceCard title="Aplikace od nuly">
    <CodeXml slot="icon" class="w-12 h-12 text-secondary-700" />
    <p>
      Navrhneme a implementujeme rychlé <strong>webové aplikace</strong> s použitím
      moderních technologií.<br />Naším pilotním projektem je <strong
        >Tender Portal</strong
      >, který prezentuje naši schopnost vytvářet aplikace od nuly.
    </p>
  </ServiceCard>
  <ServiceCard title="Vaše webové stránky">
    <AppWindowMac slot="icon" class="w-12 h-12 text-secondary-700" />
    <p>
      Pomáháme malým firmám získat profesionální digitální stopu. Ať už
      potřebujete jednoduchou, ale <strong>stylovou byznysovou stránku</strong> pro
      služby, nebo <strong>design a implementaci e-shopů</strong>, zajistíme vám
      elegantní online vizitku.
    </p>
  </ServiceCard>
</section>
<div class="col-span-12 border-t" aria-hidden="true"></div>
