---
import Project from '../ProjectCard.astro';
---

<section
  class="col-span-12 md:col-span-10 md:col-start-2 grid grid-cols-2 py-12 gap-8 px-4 md:px-0"
>
  <h2 class="col-span-2 text-center font-semibold text-3xl text-primary-700">
    Výběr naší práce
  </h2>
  <Project
    name="Tender portál"
    image="/images/tender.png"
    alt="UI design webové stránky pro kadeřnictví."
    description="Webový systém pro řízení obchodních poptávek a tendrů, primárně určený pro architektonické a stavební projekty."
    width="1760"
    height="1045"
    tags={['webová aplikace', 'vue.js', 'c# dotnet']}
    year="2025–současnost"
    isFullW
  />
  <Project
    name="Kadeřnictví"
    image="/images/kadernictvi.png"
    alt="UI design webové stránky pro kadeřnictví."
    description="UI design webové stránky pro kadeřnictví."
    tags={['UI design']}
    year="2025"
    width="1280"
    height="2760"
  />
  <Project
    name="Kadeřnictví"
    image="/images/kadernictvi.png"
    alt="UI design webové stránky pro kadeřnictví."
    description="UI design webové stránky pro kadeřnictví."
    width="1280"
    height="2760"
  />
</section>
<div class="col-span-12 border-t" aria-hidden="true"></div>
