<section
  class="col-span-12 flex justify-center items-center gap-8 flex-col py-24 bg-secondary-800"
>
  <h2 class="text-4xl font-bold text-tertiary-50 max-w-lg">
    Připraveni na skvělý kód za rozumnou cenu?
  </h2>
  <p class="text-lg text-tertiary-200 max-w-lg">
    Pošlete nám stručný popis vašeho projektu a my vám do 24&nbsp;hodin zašleme
    nezávaznou cenovou nabídku.
  </p>
</section>
