@import "tailwindcss";

@theme {
  --color-primary-50: rgb(249 254 249);
  --color-primary-100: rgb(242 253 242);
  --color-primary-200: rgb(223 251 223);
  --color-primary-300: rgb(204 249 204);
  --color-primary-400: rgb(166 244 166);
  --color-primary-500: rgb(128 239 128);
  --color-primary-600: rgb(115 215 115);
  --color-primary-700: rgb(77 143 77);
  --color-primary-800: rgb(58 108 58);
  --color-primary-900: rgb(38 72 38);
  --color-secondary-50: rgb(249 252 249);
  --color-secondary-100: rgb(244 248 244);
  --color-secondary-200: rgb(226 239 226);
  --color-secondary-300: rgb(209 229 209);
  --color-secondary-400: rgb(175 209 175);
  --color-secondary-500: rgb(140 189 140);
  --color-secondary-600: rgb(126 170 126);
  --color-secondary-700: rgb(84 113 84);
  --color-secondary-800: rgb(63 85 63);
  --color-secondary-900: rgb(42 57 42);
  --color-tertiary-50: rgb(248 249 248);
  --color-tertiary-100: rgb(241 243 241);
  --color-tertiary-200: rgb(221 226 221);
  --color-tertiary-300: rgb(200 208 200);
  --color-tertiary-400: rgb(159 173 159);
  --color-tertiary-500: rgb(118 138 118);
  --color-tertiary-600: rgb(106 124 106);
  --color-tertiary-700: rgb(71 83 71);
  --color-tertiary-800: rgb(53 62 53);
  --color-tertiary-900: rgb(35 41 35);
}