<section class="col-span-12 grid-cols-subgrid grid border-b">
  <h1
    class="font-semibold text-5xl leading-13 text-primary-700 text-center col-span-12 px-4 py-16"
  >
    <span class="font-light">Pojďme tvořit.</span> Kontaktujte nás.
  </h1>
</section>
