---
import FormInput from './FormInput.astro';
---

<section
  class="col-span-12 md:col-span-8 grid-cols-12 md:grid-cols-8 grid border-b py-12"
>
  <form action="" id="contact-form" class="col-span-6 col-start-2 space-y-6">
    <FormInput
      id="name"
      type="text"
      label="Jméno:"
      placeholder="vaše jméno ..."
      required="true"
    />
    <FormInput
      id="email"
      type="email"
      label="Email:"
      placeholder="váš email ..."
      required="true"
    />
    <FormInput
      id="company"
      type="text"
      label="Společnost:"
      placeholder="vaše společnost ..."
      required="true"
    />
    <FormInput
      id="description"
      type="textarea"
      label="Popis:"
      placeholder="prosím napište nám vaší představu projektu včetně požadavků, funkcí a rozsahu ..."
      required="true"
    />
    <button
      type="submit"
      class="py-3 px-4 w-full cursor-pointer bg-secondary-700 text-tertiary-50 custom-button text-center hover:italic font-bold font-mono"
    >
      Odeslat
    </button>
  </form>
</section>

<style>
  .custom-button {
    box-shadow: 6px 6px 0px 0px var(--color-secondary-300);
    transition: all 150ms ease-in-out;
  }
  .custom-button:hover {
    box-shadow: 10px 10px 0px 0px var(--color-secondary-300);
    transform: translate(-4px, -4px);
  }

  .custom-button:active {
    box-shadow: 4px 4px 0px 0px var(--color-secondary-300);
    transform: translate(2px, 2px);
  }
</style>

<script>
  const form = document.getElementById('contact-form') as HTMLFormElement;
  const submitButton = form?.querySelector('button[type="submit"]');

  submitButton?.addEventListener('click', () => {
    form?.classList.add('was-validated');
  });
</script>
