<section
  class="border border-dashed col-span-10 col-start-2 md:col-span-3 md:col-start-auto my-12 bg-tertiary-50/50 p-6"
>
  <h2 class="text-xl font-semibold text-primary-800">
    Nebo nám napište na tym@intstudio.cz
  </h2>
</section>
