<div
  class="h-full col-span-1 border-b py-12 flex flex-col gap-4 justify-between items-center"
>
  <div class="border-r flex-1 border-dashed"></div>
  <p class="sideways text-primary-700">nebo</p>
  <div class="border-r flex-1 border-dashed"></div>
</div>

<style>
  .sideways {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
</style>
