---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout>
  <section class="col-span-12 grid-cols-subgrid grid">
    <div
      class="col-span-12 md:col-span-6 p-4 py-16 border-b md:border-r md:border-b-0 border-dashed"
    >
      <h1 class="font-semibold text-5xl leading-13 text-primary-700">
        Moderní weby a online řešení pro vaše nápady bez korporátních cen.
      </h1>
    </div>
    <div class="col-span-12 md:col-span-6 p-4 py-16 space-y-8">
      <p class="text-lg">
        Jsme tým 4 studentů, kteří se orientují v nejnovějších webových
        technologiích. Transformujeme vaše podnikatelské nápady do funkčních,
        rychlých a škálovatelných aplikací.
      </p>
      <Button text="Chci spolupracovat" href="#contact" />
    </div>
  </section>
</Layout>
