---
import Button from './Button.astro';
---

<section class="col-span-12 grid-cols-subgrid grid border-b">
  <div
    class="col-span-12 md:col-span-6 px-4 py-16 lg:py-24 lg:px-8 border-b md:border-r md:border-b-0 border-dashed"
  >
    <h1 class="font-semibold text-5xl leading-13 text-primary-700">
      Potřebujete web nebo aplikaci? Zvládneme to!
    </h1>
  </div>
  <div class="col-span-12 md:col-span-6 px-4 py-16 lg:py-24 lg:px-8 space-y-8">
    <p class="text-lg">
      Jsme tým 4 nadšených studentů, kteří se orientují v nejnovějších webových
      technologiích. Transformujeme vaše podnikatelské nápady do funkčních,
      rychlých a škálovatelných aplikací.
    </p>
    <Button text="Chci spolupracovat" href="#contact" />
  </div>
</section>
