---
import Project from './MainProjects/Project.astro';
---

<section class="col-span-12 grid grid-cols-subgrid border-b px-8 py-12 gap-12">
  <h2 class="col-span-12 text-center font-semibold text-3xl text-primary-700">
    Výběr naší práce
  </h2>
  <Project />
  <Project />
  <Project />
  <Project />
</section>
