---
import NavbarItem from './NavbarItem.astro';
import Logo from './Logo.astro';
---

<header class="border-b border-primary-500 w-full">
  <nav
    class="mx-4 md:mx-12 border-x border-primary-500 px-4 py-1 h-12 flex items-center justify-between"
  >
    <a class="h-full" href="/">
      <Logo />
    </a>
    <nav>
      <menu class="flex gap-16">
        <NavbarItem name="projekty" href="/projects" />
        <NavbarItem name="kontakt" href="#contact" />
        <NavbarItem name="o Integeru" href="/about" />
      </menu>
    </nav>
  </nav>
</header>
