---
const { href, name } = Astro.props;
---

<li class="group hover:scale-105">
  <a
    href={href}
    class="navbar-link group-hover:text-primary-800 group-hover:font-semibold text-lg"
    >{name}</a
  >
</li>

<style>
  .navbar-link {
    transition: color 0.1s;
  }

  .navbar-link::after {
    content: '→';
    display: inline-block;
    margin-left: 0.25rem;
    opacity: 0;
    transform: translateX(-0.5rem);
    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  .group:hover .navbar-link::after {
    opacity: 1;
    transform: translateX(0);
  }
</style>
