---
const { href, name } = Astro.props;
---

<li class="group nav-item hover:text-primary-700">
  <a href={href} class="navbar-link text-lg font-bold font-mono">{name}</a>
</li>

<style>
  .navbar-link {
    transition: color 0.1s;
  }

  .navbar-link::after {
    content: '→';
    display: inline-block;
    margin-left: 0.25rem;
    opacity: 0;
    transform: translateX(-0.5rem);
    transition:
      opacity 0.2s,
      transform 0.2s;
    transition-delay: 200ms;
    font-family: var(--font-sans);
  }

  .group:hover .navbar-link::after {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  import { gsap } from 'gsap';
  import { TextPlugin } from 'gsap/TextPlugin';
  import { Observer } from 'gsap/Observer';

  gsap.registerPlugin(TextPlugin);
  gsap.registerPlugin(Observer);

  document.querySelectorAll('.nav-item').forEach((navItem) => {
    const link = navItem.querySelector('.navbar-link');
    const name = link.innerHTML;

    Observer.create({
      target: navItem,
      type: 'mouse, pointer',
      onHover: () =>
        gsap.to(link, {
          text: {
            value: name.toUpperCase(),
            type: 'diff',
            speed: 2,
          },
          ease: 'none',
        }),
      onHoverEnd: () =>
        gsap.to(link, {
          text: {
            value: name.toLowerCase(),
            type: 'diff',
            rtl: true,
            speed: 2,
          },
          ease: 'none',
        }),
    });
  });
</script>
